/* =============================

    GENERAL STYLES

=============================*/

* {
  box-sizing: border-box;
}

body {
  background: url('../images/paper.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

section {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1, 
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img,
section, 
.cover, .blurb {
    margin-bottom: 1.5rem;
}

/* =============================

    HEADER STYLES

=============================*/

 .cover {
  background: url('../images/brigi-balint-cover-2.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
 }

.hero-text {
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.tagline {
  display: block;
  font-size: 1.25rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.hero-text h1 {
  font-size: 3.15rem;
  color: #73cec8;
  margin-bottom: 0;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

@media (min-width: 768px) {

  .hero-text {
    padding: 1.25rem;
    border-radius: 4px;
  }

  .hero-text h1 {
    font-size: 7rem;
  }

}

/* =============================

  LOCATIONS AND GIFTS STYLES

=============================*/

.blurb img {
  height: 7.5rem;
}

.blurb h3 {
  font-weight: 700;
}

.blurb span {
  display: block;
  font-family: 'Muli', sans-serif;
  
}

.blurb::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

@media (min-width: 768px) {

  .blurb-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .blurb {
    width: 33.3%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .blurb::after {
    display: none;
  }

}

/* =============================

    PROGRAM AND FAQ STYLES

=============================*/

.program,
.faq {
  background: url('../images/restaurant.png') repeat center;
  color: #fff;
  width: 100vw;
  text-align: left;
}

.program h2,
.faq h2 {
  margin-top: 1rem;
  text-align: center;
}

.faq h3 {
  text-align: center;
}

.program p {
  font-style: italic;
  font-family: 'Muli', sans-serif;
}

.program ul {
  letter-spacing: .025rem;
  font-family: 'Muli', sans-serif;
}

@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}

.faq p {
  font-family: 'Muli', sans-serif;
  margin-bottom: .5rem;
}

.faq strong {
  font-weight: 700;
}

.qa {
  margin-bottom: 1.5rem;
}

.qa-column::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #fff;
}

@media (min-width: 768px) {

  .qa-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .qa-column {
    width: 33.3%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .qa-column::after {
    display: none;
  }

  .qa-column h3 {
    text-align: left;
  }

}

/* =============================

        FOOTER STYLES

=============================*/

footer {
  height: 15vh;
  width: 100vw;
  background-color: #bdbdbd;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
}

footer p {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) {

  footer {
    height: 10vh;
  }

}



































